body{
    background: #445a97 ;
}

.card{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
    background-color: #c0d8ff !important;
}

.card-img-top{
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.26);
}

.card-img-top:hover{
    padding: 0;
}

.contendorEscudo .escudoIcami{
    height: 300px
}