body{
    background: #445a97 ;
}

.card{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
    background-color: #c0d8ff !important;
}

.card-img-top{
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.26);
}

.card-img-top:hover{
    padding: 0;
}

.contendorEscudo .escudoIcami{
    height: 300px
}

.card-text{
    text-align: center;
}

.letraSemana{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #445a97;
    padding: 10px;
    border-radius: 10px 0;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.75);
    transition: all 350MS;
    margin-left: 5px;
}



.letraSemana:hover{
    background: #172644;
    padding: 14px;
    font-weight: bolder;
    border-radius: 100%;
}